giotto-tda==0.5.1
hepml==0.0.12
kmapper==2.0.1
matplotlib==3.5.0
numpy==1.21.6
pandas==1.3.4
persim==0.3.1
plotly==5.4.0
ripser==0.6.1
rise==5.7.1
scikit-learn==1.0.1
scikit-tda==1.0.0
scipy==1.7.3
seaborn==0.11.2
tensorflow==2.8.0
tqdm==4.64.1
umap-learn==0.5.2